
#testButton { 
	width: 80px;
    height: 25px;
    margin-top:-100px;
	color:rgb(123, 54, 163);
	font-size:14px;
	text-align:center;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:25px;
	padding-right:25px;
	border-width:2px;
	border-color:rgb(197, 229, 145);
	border-style:inset;
	border-radius:6px;
	background-color:plum;
	
}
#testButton:hover{
	color:#ffffff;
	background-color:#78c300;
	border-color:#c5e591;
}
#sp { 
	
	color:rgb(123, 54, 163);
	font-size:14px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:25px;
	padding-right:25px;
	border-width:2px;
	border-color:rgb(197, 229, 145);
	border-style:inset;
	border-radius:6px;
	background-color:rgb(0, 194, 168);
}
#sp:hover{
	color:#ffffff;
	background-color:#78c300;
	border-color:#c5e591;
}
#test{
	text-align: center;
}
.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color:rgb(123, 54, 163);
	font-size:14px;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:25px;
	padding-right:25px;
	border-width:2px;
	border-color:rgb(197, 229, 145);
	border-style:inset;
	border-radius:6px;
	background-color:plum;
}

.fileinput-button input{
    position:absolute;
    right: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
}
#block{
	margin-left:580px;
}
#save{
	width: 60px;
    height: 20px;
    float: left;						/*保持在一行*/
    text-align:center;
	color:"green";
	font-size:14px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:20px;
	padding-right:20px;
	border-width:2px;
	border-color:rgb(197, 229, 145);
	border-style:inset;
	border-radius:6px;
	background-color:rgb(0, 194, 168);
	margin-left:20px ;
}
#se {
	float: left;
	margin-left:-20px ;
}
#select {
	float: left;
	margin-left:30px ;
}
#up{
	 float: left;
	 margin-left:10px ;
}
#onload{
	float: left;
	margin-left:10px ;
}

	
	.div-inline{ display:inline} 

